server/instance/
server/**/__pycache__
server/__pycache__
server/venv
server/build
server/dist
server/*.egg-info


client/node_modules
client/.eslintcache
client/build
client/yarn-error.log
client/.yarn/*
client/!.yarn/releases
client/!.yarn/plugins
client/!.yarn/sdks
client/!.yarn/versions
client/.pnp.*

.ssh
server/test.py
*/.env
