backend/instance/
backend/**/__pycache__
backend/__pycache__
backend/venv
backend/build
backend/dist
backend/*.egg-info


frontend/node_modules
frontend/.eslintcache
frontend/build
frontend/yarn-error.log
frontend/.yarn/*
frontend/!.yarn/releases
frontend/!.yarn/plugins
frontend/!.yarn/sdks
frontend/!.yarn/versions
frontend/.pnp.*

.ssh
backend/test.py
*/.env

certs
.env*