@use "../shared/flex" as *;
@use "../shared/_colors" as *;
// @use 'sass:color';

#sidebar {
  @extend %flex-center-top;
  height: 100%;
  .sidebar-wrapper {
    @extend %flex-center-top;
    transition: 0.4s;
    transform: translateX(100%);
    height: 100vh;
    background-color: $secondary;
  }

  .sidebar-overlay {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: transparent;
  }

  &.opened {
    .sidebar-overlay {
      display: initial;
      z-index: 99;
    }
    .sidebar-wrapper {
      transition: 0.4s;
      width: 100%;
      transform: translateX(0%);
      z-index: 100;
    }
  }
}
